.container {
    height: 50px;
    background-color: aliceblue;
    .title{
        display: flex;
        align-items: center;
        padding-top: 10px;
    }
    .select-button {
        margin-left: 15%;
        margin-top: 2%;
        app-selectvalue {
            margin-right: 10px;
        }
        app-button {
            margin-right: 10px;
        }
        app-calender {
            margin-right: 10px;
        }
    }
}